################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages
/screenzap/obj
/screenzap/bin
.vscode/
*.user
